/**
*  Colors
**/
$white: #f9f9f9 !default;
$primary-color: #f44336 !default;
$gray-500: #ccc !default;
$gray-300: #333 !default;
$gray-400: #666 !default;

/**
* Gutters
**/
$gutter-xs: 4px !default;
$gutter-s: 8px !default;
$gutter-base: 16px !default;
$gutter-m: 20px !default;
$gutter-l: 24px !default;
$gutter-xl: 28px !default;
$gutter-xxl: 32px !default;

/**
* Others
**/
$border-radius: 4px !default;