/**
* Commons
**/
@import '../commons/styles/variables__small.scss';

.ui-textfield {
  padding: $gutter-base;
  position: relative;

  &__input {
    border: 0;
    border-bottom: 1px solid $gray-300;

    &:focus {
      outline: 0;
    }
  }

  &__hint {
    display: block;
    font-size: 11px;
    padding-top: $gutter-xs;
    color: $gray-300;
  }
  
  &__label {
    position: absolute;
    left: $gutter-base;
  }

  &--active .ui-textfield__label {
    top: 0;
  }
}